<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/ex16" method="post">
        <p>チャットアプリ</p>
        名前：<input type="text" name="name"><br>
        コメント：<br>
        <textarea name="message" id="meessage"rows="4" cols="30" ></textarea><br>
        <input type="submit" value="投稿！"></input>
    </form>

    <div><hr>
        <span th:each="chat : ${messageList}">
            <p th:text="${chat.name}"></p>
            <p th:text="${chat.message}"></p>
            <hr>
        </span>

    </div>

</html>